<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Nuestro Equipo</h2>
            </div>
            <div class="col-12">
                <a href="">Inicio</a>
                <a href="">Equipo</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Nuestro Equipo</p>
            <h2>Conozca a nuestros profesionales</h2>
        </div>
        <div class="row">

            <div *ngFor="let person of persons" class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{person.image}}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>{{person.name}}</h2>
                        <p>{{person.rol}}</p>
                    </div>
                    <div class="team-social">
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->