<div class="footer wow fadeIn" data-wow-delay="0.3s" [ngStyle]="{'display':esDashboard()? 'none':'block'}">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer-contact">
                    <h2>Contacto de oficina</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Av. Gral. Salaverry 2303, Lima, PE</p>
                    <p><i class="fa fa-phone-alt"></i>+051 345 67890</p>
                    <p><i class="fa fa-envelope"></i>contacto@million.com.pe</p>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <h2>Areas de servicios</h2>
                    <a routerLink="servicio/1" onclick="window.scroll(0,0)">Big Data</a>
                    <a routerLink="servicio/2" onclick="window.scroll(0,0)">Machine Learning</a>
                    <a routerLink="servicio/3" onclick="window.scroll(0,0)">Architectura Cloud</a>
                    <a routerLink="servicio/4" onclick="window.scroll(0,0)">Consultoría TI</a>
                    <a routerLink="servicio/5" onclick="window.scroll(0,0)">Change Management</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <h2>Páginas útiles</h2>
                    <a routerLink="nosotros" onclick="window.scroll(0,0)">Nosotros</a>
                    <a routerLink="servicios" onclick="window.scroll(0,0)">Servicios</a>
                    <a routerLink="equipo" onclick="window.scroll(0,0)">Equipo</a>
                    <a routerLink="proyectos" onclick="window.scroll(0,0)">Proyectos</a>
                    <a href="">Testimonial</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="newsletter">
                    <h2>Boletín</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare
                        velit non vulpu
                    </p>
                    <div class="form">
                        <input class="form-control" placeholder="Email here">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-menu">
        <div class="f-menu">
            <a href="">Terms of use</a>
            <a href="">Privacy policy</a>
            <a href="">Cookies</a>
            <a href="">Help</a>
            <a href="">FQAs</a>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#">Million Consulting</a>, Derechos Reservados.</p>
            </div>
            <div class="col-md-6">
                <p>Designed By <a href="https://htmlcodex.com">Grupo 2</a></p>
            </div>
        </div>
    </div>
</div>

<footer class="footerdash bg-dark rounded-top text-center" [ngStyle]="{'display':esDashboard()? 'block':'none'}">
    <div class="container py-2">
        <p class="text-white my-2">
            &copy; Million Consulting - Derechos Reservados 2021
        </p>
    </div>
</footer>