<div class="container" style="display: flex;">
    <div class="row" style="padding-top: 30px;">
        <div class="col-lg-7 col-md-6">
            <div class="section-header text-left">
                <h2>Inicie sesión en su perfil de Million Consulting</h2>
            </div>
            <div class="about-text">
                <p align="justify">
                    Personalice las alertas de nuestros servicios, reciba noticias/consejos de información privilegiada,
                    personalice la experiencia de su sitio y guarde las preferencias de sus proyectos.
                </p>
            </div>
        </div>
        <div class="container-image">
            <div>
                <div class="about-img">
                    <img style="height: 400px; width:400px;" src="assets/img/logo_million.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: -90px;">

    <div class="card bg-light mb-3" style="max-width: 38rem;">
        <div class="card-header">
            <h2 style="margin-bottom: 0px; text-align: center;">
                Inicie sesión
            </h2>
        </div>
        <div class="card-body" style="padding-left: 40px; padding-right: 40px;">
            <p class="card-text">Déjanos tus datos para que te contacte uno de nuestros Ejecutivos de Ventas.</p>
            <form [formGroup]="contactusForm">
                <div class="form-group">
                    <input type="email" formControlName="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
                </div>
            </form>
        </div>
        <div class="card-footer bg-transparent"
            style="text-align: center; padding-left: 40px; padding-right: 40px; margin-bottom: 0%;">
            <div class="form-group">
                <div class="btn bg-warning mb-3" style="width: 100%;">
                    <a onclick="window.scroll(0,0)" (click)="__onSubmit()" type="button" class="download-btns"
                        class="btn btn-outlin-primary" data-wow-delay=".6s">ENVIAR
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p align="justify">
        Tenga en cuenta que nuestro proceso de inicio de sesión solo utiliza las cookies estrictamente necesarias para
        la autenticación en los sitios de Million. Consulte nuestra Política de cookies para obtener más información
        sobre estas cookies.
    </p>
</div>
<br>

<div class="information" style="margin-bottom: 0px;">
    <div class="container py-2">
        <h2>Nuevo por aquí ?</h2>
        <h6 align="justify" style="padding-bottom: 10px;">Reciba alertas de las últimas noticias y consejos
            de nuestros principales servicios adaptados a sus preferencias. Vea las emocionantes y gratificantes
            oportunidades que le esperan.
            Regístrese a continuación.</h6>
        <div class="btn btn-outline-primary">
            <a onclick="window.scroll(0,0)" type="button" [routerLink]="['/registro']" class="download-btns"
                class="btn btn-outlin-primary" data-wow-delay=".6s">INSCRIBIRSE
            </a>
        </div>
    </div>
</div>