<div class="container" style="display: flex;">
    <div class="row" style="padding-top: 30px;">
        <div class="col-lg-7 col-md-6">
            <div class="section-header text-left">
                <h2>Inicie sesión en su perfil de Million Consulting</h2>
            </div>
            <div class="about-text">
                <p>
                    Personalice las alertas de nuestros servicios, reciba noticias/consejos de información privilegiada,
                    personalice la experiencia de su sitio y guarde las preferencias de sus proyectos.
                </p>
                <!-- <a class="btn" href="">Learn More</a> -->
            </div>
        </div>
        <div class="container-image">
            <div>
                <div class="about-img">
                    <img style="height: 400px; width:400px;" src="assets/img/logo_million.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: -90px;">
    <h2 style="margin-bottom: 40px;">
        Inicie sesión con su cuenta existente
    </h2>
    <div class="col-6">
        <form [formGroup]="contactusForm">
            <div class="form-group">
                <input type="email" formControlName="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <!-- <button (click)="__onSubmit()" class="btn btn-outline-primary">Enviar</button> -->
                <div class="btn btn-outline-primary">
                    <a (click)="__onSubmit()" type="button" class="download-btns" class="btn btn-outlin-primary"
                        data-wow-delay=".6s">ENVIAR
                    </a>
                </div>
            </div>
            <div>
                <p>
                    Datos del formulario: {{ contactusForm.value | json }}
                </p>
                <p>
                    Formulario Valido: {{ contactusForm.valid }}
                </p>
            </div>
        </form>
    </div>
    <p>
        Tenga en cuenta que nuestro proceso de inicio de sesión solo utiliza las cookies estrictamente necesarias para
        la autenticación en los sitios de Million. Consulte nuestra Política de cookies para obtener más información
        sobre estas cookies.
    </p>
    <div class="row">

    </div>
</div>


<div class="information" style="margin-bottom: 0px;">
    <div class="container py-2">
        <h2>Nuevo por aquí ?</h2>
        <h6 style="padding-bottom: 10px;">Reciba alertas de las últimas noticias y consejos
            de nuestros principales servicios adaptados a sus preferencias. Vea las emocionantes y gratificantes
            oportunidades que le esperan.
            Regístrese a continuación.</h6>
        <div class="btn btn-outline-primary">
            <a onclick="window.scroll(0,0)" type="button" [routerLink]="['/register']" class="download-btns"
                class="btn btn-outlin-primary" data-wow-delay=".6s">INSCRIBIRSE
            </a>
        </div>
    </div>
</div>





<!-- 
<div class="container" style="padding-top: 120px;">
    <h3>
        Contáctenos
    </h3>
    <p>
        Ingrese la siguiente información para contactarse con nosotros:
    </p>
    <div class="row">
        <div class="col-6">
            <form [formGroup]="contactusForm">
                <div formGroupName="person">
                    <div class="form-group">
                        <input type="text" formControlName="firstName" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="lastName" class="form-control" placeholder="Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" formControlName="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea formControlName="message" class="form-control" rows="3" placeholder="Mensaje"></textarea>
                </div>
                <div class="form-group">
                    <button (click)="__onSubmit()" class="btn btn-outline-primary">Enviar</button>
                </div>
                <div>
                    <p>
                        Datos del formulario: {{ contactusForm.value | json }}
                    </p>
                    <p>
                        Formulario Valido: {{ contactusForm.valid }}
                    </p>
                </div>
            </form>
        </div>
        <div class="col-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.1181837144877!2d-76.96509068546669!3d-12.104060991429169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c70ab77498c1%3A0xcce9f50642e7c684!2sUniversidad%20Peruana%20de%20Ciencias%20Aplicadas!5e0!3m2!1ses-419!2spe!4v1629688027407!5m2!1ses-419!2spe"
                width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="row">

                <div class="col-2">
                    <b>Dirección:</b>
                </div>
                <div class="col-10">
                    Prolongación Primavera 2390, Lima 15023
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <b>Telefono:</b>
                </div>
                <div class="col-10">
                    (01) 123-4567
                </div>
            </div>
        </div>
    </div>
</div> -->