
    <div class="container" [ngStyle]="{'display':esAdmin()? 'none':'block'}">
        <div class="row" style="padding-top: 30px;">
            <div class="section-header text-center" style="color: rgb(0,0,0);">
                <h2>Listado de Proyectos</h2>
            </div>
        </div>
    </div>
    <div class="container" [ngStyle]="{'display':esAdmin()? 'none':'block'}">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                
                   
                    <div style="text-align: right;">
                        <form [formGroup]="projectForm" name="sentMessage" id="contactForm" novalidate="novalidate">
                            <select  class="form-control form-control-sm" formControlName="companyId" required="required" style="color: rgb(0,0,0);" >
                                <option value="" selected="">TODAS</option>
                                <option *ngFor="let c of companies"  value={{c.idEmpresa}}>{{c.razonSocial}}</option>
                        
                            </select>
                        </form>
                        <a class="btn" role="button" (click)="__onSubmit()" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(241, 168, 11);margin: 15px;margin-right: 10;margin-left: 0;color: rgba(1, 3, 1, 0.623);">
                            BUSCAR
                        </a>
                    
                        <a class="btn" role="button" routerLink="/admin/project/new" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(241, 168, 11);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(1, 3, 1, 0.623);">
                            AGREGAR PROYECTO
                        </a>
                    </div>
            
                <div
                    class="table-responsive table-striped" style="border-radius: 10px;">
                    <table class="table" style="margin:0px;">
                        <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                            <tr>
                                <th class="align-middle">Nombre</th>
                                <th class="align-middle">Descripción</th>
                                <th class="align-middle"><strong>Empresa</strong><br></th>
                                <th class="align-middle" style="text-align: center;"></th>
                                <th class="align-middle" style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of projects">
                                <td class="align-middle">{{p.nombreProyecto}}</td>
                                <td class="align-middle"><em>{{p.descripcion}}</em><br></td>
                                <td class="align-middle">{{p.razonSocial}}<br></td>
                                <td class="text-center"><a routerLink="/admin/project/upd" class="btn btn-outline-dark"><i class="fa fa-pencil"></i></a></td>
                                <td class="text-center"><a href="#" class="btn btn-outline-danger"><i class="fa fa-remove"></i></a></td>
                            </tr>
  
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    </div>



    <div class="container" [ngStyle]="{'display':esAdmin()? 'block':'none'}">
        <br>
        <div class="portfolio">
            <div class="container">
                <div class="col-md-12" >
                    <hr>
                    <div class="row" >
                    <div >
                        <h4><strong> Empresa: </strong></h4><h4>STABILO S.A.</h4>
                    </div>
                    </div>
                    <hr>
                    <br>
                </div>

                  
                
                
                <div class="row">
                    <div class="col-12">
                        <ul id="portfolio-flters">
                            <li style="width: 20%;"  (click)="obtenerProyectos()" class="filter-activ">Todos</li>
                            <li style="width: 20%;"  (click)="ngGetProjectsByIdService(1)">Big Data</li>
                            <li style="width: 20%;"  (click)="ngGetProjectsByIdService(2)">Machine Learning</li>
                            <li style="width: 20%;"  (click)="ngGetProjectsByIdService(3)">Arquitectura Cloud</li>
                            <li style="width: 20%;"  (click)="ngGetProjectsByIdService(4)">Consultoría TI</li>
                            <li style="width: 20%;"  (click)="ngGetProjectsByIdService(5)">Change Management</li>
                            <li style="width: 20%;"  (click)="ngGetProjectsByIdService(6)">E-Marketing</li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="row portfolio-container">
        
                    <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12" *ngFor="let p of projects">
                
                        <div class="card" style="width: 18rem;" >
                            <div class="card-header">
                                <h5 class="card-title" style="text-align: center;" >{{p.name}}</h5>
                            </div>
                            
                            <div class="card-body">
                                <p class="card-text">{{p.description.substring(1,80)}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a><strong> Tipo: </strong></a> {{p.serviceDescription}} </li>
                                <li class="list-group-item"><a><strong> Gestor: </strong></a>  {{p.projectManager}} </li>
                                <li class="list-group-item"><a><strong> Estado: </strong></a>  {{p.projectStatus}} </li>
                                <li class="list-group-item"><a><strong> Avance: </strong></a>  {{p.projectProgress}} </li>
                            </ul>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar"  [ngStyle]="{'width':p.projectProgress}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
        
                            <div class="card-body">
                                <a class="btn" role="button" [routerLink]="['/admin/project/project-detail', p.id]"  style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(241, 168, 11);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(1, 3, 1, 0.623);">
                                    Ver detalle
                                </a>
                            </div>
                            

                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>        
    </div>
