<div class="container" style="padding-top: 120px;">
    <h3>
        Detalle de Proyecto
    </h3>
    <p>
        A continuación se muestra el detalle del proyecto seleccionado:
    </p>
    <div class="row">
        <div class="col-6">
            <form [formGroup]="projectDetailForm">
                <div class="control-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="projectName" name="projectName" value="Implementación Sección de pedidos cafetería" disabled>
                </div>
                <br>
                <div class="control-group">
                    <label>Resumen </label>
                    <textarea class="form-control" id="projectResume" name="projectResume" value="Se requiere implementar la sección de pedido a cafetería para que los colaboradores hagan sus pedidos y pagos via web y sólo se acerquen a recoger el pedido evitando así aglomeraciones y reduciendo contacto." disabled></textarea>
                </div>
                <br>
                <div class="control-group">
                    <label>Fecha de Implementación Deseada</label>
                    <input type="text" class="form-control" id="projectClientDt" name="projectClientDt" value="08/10/2021" disabled>
                </div>
                <br>
                <div class="control-group">
                    <label>Tipo de Proyecto</label>
                    <input type="text" class="form-control" id="projectType" name="projectType" value="Desarrollo de soluciones" disabled>
                </div>
                <br>
                <div class="control-group">
                    <label>Gestor Asignado</label>
                    <input type="text" class="form-control" id="projectManager" name="projectManager" value="Leonor Razuri Rivera" disabled>
                </div>
                <br>
                <div class="control-group">
                    <label>Fecha de Creación</label>
                    <input type="text" class="form-control" id="projectCreateDt" name="projectCreateDt" value="15/05/2021" disabled>
                </div>
                <br>
                <div class="control-group">
                    <label>Fecha de Inicio Planificada</label>
                    <input type="text" class="form-control" id="projectIniPlanDt" name="projectIniPlanDt" value="06/10/2021" disabled>
                </div>
                <br>
                <div class="control-group">
                    <label>Fecha de Inicio Real</label>
                    <input type="text" class="form-control" id="projectIniRealDt" name="projectIniRealDt" value="06/12/2021" disabled>
                </div>
                <br>
                <div class="control-group">
                    <label>Fecha de Fin Planificada</label>
                    <input type="text" class="form-control" id="projectEndPlanDt" name="projectEndPlanDt" value="" disabled>
                </div>
                <br>
                <div class="control-group">
                    <label>Fecha de fin real</label>
                    <input type="text" class="form-control" id="projectEndRealDt" name="projectEndRealDt" value="" disabled>
                </div>
                <br>
                
                <div class="control-group">
                    <label>Avance General</label>
                    <input type="text" class="form-control" id="projectProgress" name="projectProgress" value="34%" disabled>
                </div>
                <br>
                <div id="accordion">
                    <div class="card">
                      <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                          HITOS
                        </a>
                      </div>
                      <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            
                            <table>
                                <thead>
                                  <tr>
                                    <th scope="col">Hito</th>
                                    <th scope="col">% Avance</th>
                                    <th scope="col">Fecha Entrega Planificada</th>
                                    <th scope="col">Fecha Entrega Real</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Hito">Aprobación de documento de alcance</td>
                                    <td data-label="Avance">100%</td>
                                    <td data-label="FechaFinPlan">15/06/2021</td>
                                    <td data-label="FechaFinReal">15/06/2021</td>
                                  </tr>
                                  <tr>
                                    <td data-label="Hito">Aprobación de prototipo</td>
                                    <td data-label="Avance">100%</td>
                                    <td data-label="FechaFinPlan">20/06/2021</td>
                                    <td data-label="FechaFinReal">20/06/2021</td>
                                  </tr>
                                  <tr>
                                    <td data-label="Hito">Autenticación</td>
                                    <td data-label="Avance">40%</td>
                                    <td data-label="FechaFinPlan">07/07/2021</td>
                                    <td data-label="FechaFinReal">07/06/2021</td>
                                  </tr>
                                  <tr>
                                    <td data-label="Hito">Formulario de registro de pedidos</td>
                                    <td data-label="Avance">0%</td>
                                    <td data-label="FechaFinPlan">22/07/2021</td>
                                    <td data-label="FechaFinReal"></td>
                                  </tr>
                                  <tr>
                                    <td data-label="AcHitoount">Integración de pasarela de pagos</td>
                                    <td data-label="Avance">0%</td>
                                    <td data-label="FechaFinPlan">08/02/2021</td>
                                    <td data-label="FechaFinReal"></td>
                                  </tr>
                                  <tr>
                                    <td data-label="Hito">Módulo de feedback</td>
                                    <td data-label="Avance">0%</td>
                                    <td data-label="FechaFinPlan">08/10/2021</td>
                                    <td data-label="FechaFinReal"></td>
                                  </tr>
                                  <tr>
                                    <td data-label="Hito">Módulo de administración</td>
                                    <td data-label="Avance">0%</td>
                                    <td data-label="FechaFinPlan">15/08/2021</td>
                                    <td data-label="FechaFinReal"></td>
                                  </tr>

                                </tbody>
                              </table>

                              <p>
                                Datos del formulario: {{ projectDetailForm.value | json }}
                            </p>

                            
                        </div>
                      </div>
                    </div>
                    
                  </div>


            </form>
        </div>

    </div>


</div>

<router-outlet></router-outlet>