<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Acerca de Million</h2>
            </div>
            <div class="col-12">
                <a href="">Inicio</a>
                <a href="">Nosotros</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="assets/img/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Bienvenido a Million Consulting</p>
                    <h2>25 Años de Experiencia</h2>
                </div>
                <div class="about-text">
                    <p align="justify">
                        Aprovechamos el poder del cambio para generar valor en nuestros clientes, personas y
                        comunidades.

                        La era post-digital no muestra signos de desaceleración, y la necesidad de una transformación
                        empresarial rápida nunca ha sido mayor.

                        Nos encontramos con clientes dondequiera que se encuentren en su camino hacia el cambio, en
                        todas las industrias del mundo, y nos asociamos con ellos para generar un valor a largo plazo.
                    </p>
                    <p align="justify">
                        Las nuevas tecnologías y modelos comerciales pueden transformar la forma en que la comunidad de
                        desarrollo internacional atiende a las personas necesitadas. Million Consulting ayuda a las
                        organizaciones de este sector a aumentar drásticamente su impacto en áreas como la atención
                        médica global, la educación, la inclusión financiera y el acceso a la energía.
                    </p>
                    <!-- <a class="btn" href="">Learn More</a> -->
                </div>
            </div>
        </div>
        <br>
        <hr><br>
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">                    

                    <h2>Nuestro norte es el futuro</h2>
                </div>
                <div class="about-text">
                    <div class="section-header text-left">
                        <p align="justify">Visión</p>
                    </div>
                    <p align="justify">
                        Convertirnos en una de las empresas líderes del mundo, aportando innovaciones para mejorar la
                        forma en que el mundo trabaja y vive.
                    </p>
                    <br>
                    <div class="section-header text-left">
                        <p>Misión</p>
                    </div>
                    <p align="justify">
                        Ayudar a nuestros clientes a crear su futuro, preocupándonos primero por su éxito en hacer la
                        diferencia dentro de su industria.
                    </p>
                    <!-- <a class="btn" href="">Learn More</a> -->
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="assets/img/about2.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Fact Start -->
<div class="fact">
    <div class="container-fluid">
        <div class="row counters">
            <div class="col-md-6 fact-left wow slideInLeft">
                <div class="row">
                    <div class="col-6">
                        <div class="fact-icon">
                            <i class="flaticon-worker"></i>
                        </div>
                        <div class="fact-text">
                            <h2 data-toggle="counter-up">109</h2>
                            <p>Trabajadores Expertos</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="fact-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <div class="fact-text">
                            <h2 data-toggle="counter-up">485</h2>
                            <p>Clientes satisfechos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 fact-right wow slideInRight">
                <div class="row">
                    <div class="col-6">
                        <div class="fact-icon">
                            <i class="flaticon-address"></i>
                        </div>
                        <div class="fact-text">
                            <h2 data-toggle="counter-up">789</h2>
                            <p>Proyectos Completados</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="fact-icon">
                            <i class="flaticon-crane"></i>
                        </div>
                        <div class="fact-text">
                            <h2 data-toggle="counter-up">890</h2>
                            <p>Proyectos en Ejecución</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->