<!-- Page Header Start -->
<div class="page-header" [ngStyle]="{'display':esRutaHome()? 'none':'block'}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Nuestros Servicios</h2>
            </div>
            <div class="col-12">
                <a href="">Inicio</a>
                <a href="">Servicios</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Nuestros Servicios</p>
            <h2>Nuestra experiencia en acción</h2>
        </div>
        <div class="row">
            <div onclick="window.scroll(0,0)" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" type="button"
                [routerLink]="['/servicio/', service.id]" *ngFor="let service of services">
                <div class="service-item">
                    <div class="service-img">
                        <img src={{service.rutaArchivo}} alt="Image">
                        <div class="service-overlay">
                            <!-- <p>
                                    Comunicación directa con los usuarios a través de medios digitales.
                                </p> -->
                            <p align="justify">
                                {{service.descripcion}}
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>{{service.nombre}}</h3>
                        <!-- <a class="btn" href={{servicio.imagen}} data-lightbox="service">+</a> -->
                        <a class="btn">+</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>