<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="assets/img/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Bienvenido a Million Consulting</p>
                    <h2>25 Años de Experiencia</h2>
                </div>
                <div class="about-text">
                    <p>
                        Aprovechamos el poder del cambio para generar valor en nuestros clientes, personas y
                        comunidades.

                        La era post-digital no muestra signos de desaceleración, y la necesidad de una transformación
                        empresarial rápida nunca ha sido mayor.

                        Nos encontramos con clientes dondequiera que se encuentren en su camino hacia el cambio, en
                        todas las industrias del mundo, y nos asociamos con ellos para generar un valor a largo plazo.
                    </p>
                    <p>
                        Las nuevas tecnologías y modelos comerciales pueden transformar la forma en que la comunidad de
                        desarrollo internacional atiende a las personas necesitadas. Million Consulting ayuda a las
                        organizaciones de este sector a aumentar drásticamente su impacto en áreas como la atención
                        médica global, la educación, la inclusión financiera y el acceso a la energía.
                    </p>
                    <!-- <a class="btn" href="">Learn More</a> -->
                </div>
            </div>
        </div>