<div class="container" >
    <div class="row" style="padding-top: 30px;">
        <div class="section-header text-center" style="color: rgb(0,0,0);">
            <h2>Registro de Proyectos</h2>
        </div>
    </div>
</div>

<div class="container" style="padding-left: 265px;">

    <div class="card bg-light mb-3" style="max-width: 38rem;">
        <div class="card-header">
            <h2 style="margin-bottom: 0px; text-align: center;">
                Datos de la Empresa
            </h2>
        </div>
        <div class="card-body" style="padding-left: 40px; padding-right: 40px;">
            <form [formGroup]="projectForm">
                <div class="control-group">
                    <select class="form-control form-control-sm" formControlName="idEmpresa" type="number" required="required" style="color: rgb(0,0,0);" >
                        <option type="number" value=0 selected=0>Seleccione Empresa</option>
                        <option type="number" *ngFor="let c of companies" [ngValue]="c.idEmpresa" >{{c.razonSocial}}</option>
                       
                    </select>
                    
                    <p class="help-block text-danger"></p>
                    
                </div>
                <div class="control-group">
                    <input type="text" class="form-control" id="areaEmpresa" formControlName="areaEmpresa" placeholder="Área de la Empresa"  required="required"
                        data-validation-required-message="Please enter your service"/>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input type="text" class="form-control" id="jefeProyecto" formControlName="jefeProyecto" placeholder="Jefe de Proyecto"
                        required="required" data-validation-required-message="Please enter a project type" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <select class="form-control form-control-sm" formControlName="idServicio" required="required" style="color: rgb(0,0,0);">
                        <option type="number" value=0 selected="">Seleccione Servicio</option>
                        <option type="number" *ngFor="let s of services" [ngValue]="s.idServicio">{{s.nombre}}</option>
                      
                    </select>
                    <p class="help-block text-danger"></p>
                </div>
            </form>
        </div>

    </div>
    <br>
 
</div>
<div class="container" style="padding-left: 265px;">

    <div class="card bg-light mb-3" style="max-width: 38rem;">
        <div class="card-header">
            <h2 style="margin-bottom: 0px; text-align: center;">
                Datos del Proyecto
            </h2>
        </div>
        <div class="card-body" style="padding-left: 40px; padding-right: 40px;">
            <form [formGroup]="projectForm" name="sentMessage" id="contactForm" novalidate="novalidate">
                <div class="control-group">
                    <input type="text" class="form-control" id="nombreProyecto" formControlName="nombreProyecto" placeholder="Nombre Proyecto" required="required"
                        data-validation-required-message="Please enter your name"  />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    
                        <textarea class="form-control" rows="3" id="descripcion" formControlName="descripcion" placeholder="Descripción Proyecto" >
                            Ingrese Descripción del proyecto</textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <select class="form-control form-control-sm" formControlName="tipoProyecto" required="required" style="color: rgb(0,0,0);">
                        <option value="" selected="">Seleccione Tipo Proyecto</option>
                        <option>Agile</option>
                        <option>Cascade</option>
                    </select>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input type="text" class="form-control" id="imagenProyecto" formControlName="imagenProyecto" placeholder="Ruta de la Imagen"
                        required="required" data-validation-required-message="Please enter a project phase" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input placeholder="Fecha Inicio Plan" class="form-control" type="text" onfocus="(this.type='date')" id="fechaInicioPlan" formControlName="fechaInicioPlan"
                    equired="required" data-validation-required-message="Please enter your service">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input placeholder="Fecha Inicio Real" class="form-control" type="text" onfocus="(this.type='date')" id="fechaInicioReal" formControlName="fechaInicioReal"
                    equired="required" data-validation-required-message="Please enter your service">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input placeholder="Fecha Fin Plan" class="form-control" type="text" onfocus="(this.type='date')" id="fechaFinPlan" formControlName="fechaFinPlan"
                    equired="required" data-validation-required-message="Please enter your service">
                    <p class="help-block text-danger"></p>
                </div><div class="control-group">
                    <input placeholder="Fecha Fin Real" class="form-control" type="text" onfocus="(this.type='date')" id="fechaFinReal" formControlName="fechaFinReal"
                    equired="required" data-validation-required-message="Please enter your service">
                    <p class="help-block text-danger"></p>
                </div>
                
      

            </form>
        </div>

        
        <div class="card-footer bg-transparent"
            style="text-align: center; padding-left: 40px; padding-right: 40px; margin-bottom: 0%;">
            <div class="form-group">
                <div class="btn bg-warning mb-3" style="width: 40%;">
                    <a onclick="window.scroll(0,0)" (click)="__onSubmit()" type="submit" class="btn"
                        class="btn btn-outlin-primary" data-wow-delay=".6s">REGISTRAR
                    </a>
                </div>
            </div>
        </div>
       

    </div>
    <br>
 
</div>
<br>
