<div class="testimonial wow fadeIn" data-wow-delay="0.1s">
    <div class="mycarrousel">
        <div class="container">


            <div class="section-header text-center">
                <br><br>
                <p>Comentarios</p>
                <h2 style="color: cornsilk;">Testimonios</h2>
            </div>

            <div class="row">
                <div class="col-md-12">


                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-4" *ngFor="let comment of comments">
                                        <div class="single-box">
                                            <div class="img-area"><img src="{{comment.image}}" alt=""></div>
                                            <div class="img-text">
                                                <h5 style="color:darkgoldenrod;">{{comment.name}}</h5>
                                                <!-- <p style="color: rgb(146, 114, 114);">{{comment.company}}</p> -->
                                                <p align="justify">{{comment.comment}}</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-6 -mt-25" *ngFor="let comment of comments">
                <div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
                    <div class="rating">
                        <i class="lni lni-star-filled" *ngFor="let i of [].constructor(5)"></i>
                    </div>
                    <div class="content">
                        <p style="color: cornsilk;">{{comment.comment}}</p>
                    </div>
                    <div class="info">
                        <div class="image">
                            <img src={{comment.image}} alt="" />
                        </div>
                        <div class="text">
                            <h5 style="color:darkgoldenrod;">{{comment.name}}</h5>
                            <p style="color: rgb(161, 161, 161);">{{comment.company}}</p>
                        </div>
                    </div>
                </div>
            </div> -->
                </div>
            </div>
        </div>


    </div>

</div>