<div class="testimonial wow fadeIn" data-wow-delay="0.1s">

    <div class="container">
        <div class="section-header text-center">
            <br><br>
            <p>Comentarios</p>
            <h2 style="color: cornsilk;">Testimonios</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let comment of comments" class="col testi-item" style="padding-bottom: 15px;">
                <div class="card h-100">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="testi-avatar"><img src="{{comment.image}}"></div>
                    <div class="card-body" style="padding-top: 65px;">
                        <div class="listing-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- <h5 class="card-title">Card title</h5> -->
                        <div class="testimonials-avatar">
                            <h3>{{comment.name}}</h3>
                            <h4>{{comment.company}}</h4>
                        </div>
                        <p align="justify" class="card-text">{{comment.comment}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inicio Nuevo Carrusel-->
        <!-- Fin nuevo Carrusel-->

    </div>

</div>