<div class="testimonial wow fadeIn" data-wow-delay="0.1s">

    <div class="container">
        <div class="section-header text-center">
            <br><br>
            <p>Comentarios</p>
            <h2 style="color: cornsilk;">Testimonios</h2>
        </div>

        <!-- Inicio Nuevo Carrusel-->
        <div class="my-carrousel">
            <div class="testimonials-carousel-wrap">
                <div class="listing-carousel-button listing-carousel-button-next" style="text-align: center;">
                    <i class="fa fa-caret-right" style="color: #fff"></i>
                </div>
                <div class="listing-carousel-button listing-carousel-button-prev" style="text-align: center;">
                    <i class="fa fa-caret-left" style="color: #fff"></i>
                </div>
                <div class="testimonials-carousel">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            <!--first-->
                            <div *ngFor="let comment of comments" class="swiper-slide">
                                <div class="testi-item">
                                    <div class="testi-avatar"><img src="{{comment.image}}"></div>
                                    <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                    <div class="testimonials-text">
                                        <div class="listing-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <p>{{comment.comment}}</p>
                                        <a href="#" class="text-link"></a>
                                        <div class="testimonials-avatar">
                                            <h3>{{comment.name}}</h3>
                                            <h4>{{comment.company}}</h4>
                                        </div>
                                    </div>
                                    <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                                </div>
                            </div>
                            <!--end elemento-->
                        </div>
                    </div>
                </div>

                <div class="tc-pagination" style="text-align: center;"></div>
            </div>
        </div>
        <!-- Fin nuevo Carrusel-->

    </div>

</div>