<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Nuestros Proyectos</h2>
            </div>
            <div class="col-12">
                <a href="">Inicio</a>
                <a href="">Proyectos</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Portfolio Start -->
<div class="portfolio">
    <div class="container">
        <div class="section-header text-center">
            <p>Nuestros Proyectos</p>
            <h2>Revisa Nuestros Proyectos</h2>
        </div>
        <!-- Inicio Botones -->
        <div class="row">
            <div class="col-12">
                <ul id="portfolio-flters">
                    <li (click)="obtenerProyectos()" class="filter-activ">Todos</li>
                    <li (click)="ngGetProjectsByIdService(1)">Big Data</li>
                    <li (click)="ngGetProjectsByIdService(2)">Machine Learning</li>
                    <li (click)="ngGetProjectsByIdService(3)">Arquitectura Cloud</li>
                    <li (click)="ngGetProjectsByIdService(4)">Consultoría TI</li>
                    <li (click)="ngGetProjectsByIdService(5)">Change Management</li>
                    <li (click)="ngGetProjectsByIdService(6)">E-Marketing</li>
                </ul>
            </div>
        </div>
        <!-- Fin Botones -->
        <div class="row portfolio-container">

            <div *ngFor="let project of projects" class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp"
                data-wow-delay="0.1s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="{{project.imagenProyecto}}" alt="Image">
                        <div class="portfolio-overlay">
                            <p align="justify">
                                {{project.descripcion}}
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>{{project.nombreProyecto}}</h3>
                        <a class="btn" href="{{project.imagenProyecto}}" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="row">
            <div class="col-12 load-more">
                <a class="btn" href="#">Load More</a>
            </div>
        </div> -->
    </div>
</div>
<!-- Portfolio End -->