<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Nuestros Proyectos</h2>
            </div>
            <div class="col-12">
                <a href="">Inicio</a>
                <a href="">Proyectos</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Portfolio Start -->
<div class="portfolio">
    <div class="container">
        <div class="section-header text-center">
            <p>Nuestros Proyectos</p>
            <h2>Revisa Nuestros Proyectos</h2>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".first">Complete</li>
                    <li data-filter=".second">Running</li>
                    <li data-filter=".third">Upcoming</li>
                </ul>
            </div>
        </div> -->
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio-1.jpeg" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit
                                non. Aliqu metus tortor, auctor id gravi condime, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Project Name</h3>
                        <a class="btn" href="assets/img/portfolio-1.jpeg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio-2.jpeg" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit
                                non. Aliqu metus tortor, auctor id gravi condime, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Project Name</h3>
                        <a class="btn" href="assets/img/portfolio-2.jpeg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.3s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio-3.jpeg" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit
                                non. Aliqu metus tortor, auctor id gravi condime, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Project Name</h3>
                        <a class="btn" href="assets/img/portfolio-3.jpeg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.4s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio-4.jpeg" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit
                                non. Aliqu metus tortor, auctor id gravi condime, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Project Name</h3>
                        <a class="btn" href="assets/img/portfolio-4.jpeg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio-5.jpeg" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit
                                non. Aliqu metus tortor, auctor id gravi condime, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Project Name</h3>
                        <a class="btn" href="assets/img/portfolio-5.jpeg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.6s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio-6.jpg" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit
                                non. Aliqu metus tortor, auctor id gravi condime, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Project Name</h3>
                        <a class="btn" href="assets/img/portfolio-6.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-12 load-more">
                <a class="btn" href="#">Load More</a>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio End -->