<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Nuestros Servicios</h2>
            </div>
            <div class="col-12">
                <a href="">Inicio</a>
                <a href="">Servicios</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Nuestros Servicios</p>
            <h2>Brindamos Servicios</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/service-1.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor
                                id gravida condimentum, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Building Construction</h3>
                        <a class="btn" href="assets/img/service-1.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/service-2.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor
                                id gravida condimentum, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>House Renovation</h3>
                        <a class="btn" href="assets/img/service-2.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/service-3.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor
                                id gravida condimentum, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Architecture Design</h3>
                        <a class="btn" href="assets/img/service-3.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/service-4.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor
                                id gravida condimentum, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Interior Design</h3>
                        <a class="btn" href="assets/img/service-4.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/service-5.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor
                                id gravida condimentum, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Fixing & Support</h3>
                        <a class="btn" href="assets/img/service-5.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/service-6.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor
                                id gravida condimentum, viverra quis sem.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Painting</h3>
                        <a class="btn" href="assets/img/service-6.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>