<section id="portfolio" style="padding: 5px 0px;">
    <div class="container" >
        <div class="row justify-content-center" style="margin-bottom: -15px;">

            <div style="width: 85%;">
                <h2 class="text-center" style="color: #ffa555; font-size: 26px; margin-bottom:20px;">Listado de Clientes</h2>
                <form >
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text"  class="form-control" placeholder="RUC">
                            </div>
                            <div class="form-group">
                                <input type="text"  class="form-control" placeholder="Razón social">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="email"  class="form-control" placeholder="Datos de contacto">
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col text-right align-self-end ">
                            <a class="btn btn-primary" role="button" routerLink="/crearCliente" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);margin: 15px;margin-right: 50px;margin-left: 0;color: rgba(255,255,255,0.9);">
                                Agregar Cliente
                            </a>
                            <a class="btn btn-primary" role="button" routerLink="/crearCliente" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9);">
                                Buscar Cliente
                            </a>
                        </div>
                    </div>
                </form>
            </div>


            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <div class="table-responsive table-striped" style="border-radius: 10px;">
                    <table class="table" style="margin:0px;">
                        <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                            <tr>
                                <th class="align-middle">Nº</th>
                                <th class="align-middle"><strong>RUC</strong><br></th>
                                <th class="align-middle"><strong>Razón social</strong><br></th>
                                <th class="align-middle"><strong>Datos del contacto</strong><br></th>
                                <th class="align-middle" style="text-align: center;"></th>
                                <th class="align-middle" style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of listarClientes">
                                <td class="align-middle">{{cliente.item}}</td>
                                <td class="align-middle">{{cliente.ruc}}</td>
                                <td class="align-middle">{{cliente.razonSocial}}</td>
                                <td class="align-middle">{{cliente.datosContacto}}</td>
                                <td class="text-center"><a href="#" class="btn btn-outline-dark"><i class="fa fa-pencil"></i></a></td>
                                <td class="text-center"><a href="#" class="btn btn-outline-danger"><i class="fa fa-remove"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>