<!-- Page Header Start -->
<div *ngIf="service[0] != null" class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>{{service[0].name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Servicios por proyecto -->
<div *ngIf="service[0] != null" class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="{{service[0].image}}" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>{{service[0].name}}</p>
                    <h2>{{service[0].name}}</h2>
                </div>
                <div class="about-text">
                    <p align="justify">
                        {{service[0].description}}
                    </p>
                    <!-- <a class="btn" href="">Learn More</a> -->
                </div>
            </div>
        </div>
        <br>
        <hr><br>

        <div *ngFor="let project of projects" class="row align-items-center">
            <div *ngIf="project != null" class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <!-- <p>Nuestro propósito</p> -->

                    <h2>Proyectos de {{service[0].name}}</h2>
                </div>
                <div class="about-text">
                    <div class="section-header text-left">
                        <p>{{project.name}}</p>
                    </div>
                    <p align="justify">
                        {{project.description}}
                    </p>
                    <br>
                    <!-- <a class="btn" href="">Learn More</a> -->
                </div>
            </div>
            <div *ngIf="project != null" class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="{{project.image}}" alt="Image">
                </div>
            </div>
        </div>
        <!-- About End -->
        <div class="contact wow fadeInUp">
            <div class="container">
                <div class="section-header text-center">
                    <p>Contáctenos</p>
                    <h2>Para cualquier consulta</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-info">
                            <div class="contact-item">
                                <i class="flaticon-address"></i>
                                <div class="contact-text">
                                    <h2>Dirección</h2>
                                    <p>Av. Gral. Salaverry 2303, Lima, PE</p>
                                </div>
                            </div>
                            <div class="contact-item">
                                <i class="flaticon-call"></i>
                                <div class="contact-text">
                                    <h2>Teléfono</h2>
                                    <p>+051 345 67890</p>
                                </div>
                            </div>
                            <div class="contact-item">
                                <i class="flaticon-send-mail"></i>
                                <div class="contact-text">
                                    <h2>Email</h2>
                                    <p>contacto@million.com.pe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form [formGroup]="contactusForm">
                                <div class="control-group">
                                    <input type="text" formControlName="nombre" class="form-control" id="name"
                                        placeholder="Nombre" required="required"
                                        data-validation-required-message="Please enter your name" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <input type="email" formControlName="email" class="form-control" id="email"
                                        placeholder="Email" required="required"
                                        data-validation-required-message="Please enter your email" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <input type="text" formControlName="numero" class="form-control" id="subject"
                                        placeholder="Número" required="required"
                                        data-validation-required-message="Please enter a subject" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <textarea formControlName="mensaje" class="form-control" id="message"
                                        placeholder="Mensaje" required="required"
                                        data-validation-required-message="Please enter your message"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div>

                                    <button (click)="__onSubmit()" class="btn" type="submit"
                                        id="sendMessageButton">Enviar mensaje</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>